# Default, just in case
* text=auto

# Make sure we force Linux style for some text files
# This is needed as Vagrant sync the directory 'as is' to the VM
*.sh text eol=lf
*.txt text eol=lf
*.yml text eol=lf
hubot text eol=lf
default text eol=lf
