<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <import resource="classpath:io/github/zutherb/appstash/shop/repository/user/spring-context.xml"/>
    <import resource="classpath:io/github/zutherb/appstash/shop/repository/order/spring-context.xml"/>
    <import resource="classpath:io/github/zutherb/appstash/shop/repository/product/spring-context.xml"/>

    <bean id="userPasswordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <constructor-arg value="512"/>
    </bean>

</beans>
