classes/
build/
target/
logs/
.gradle/
.idea/
.history/
.metadata/
.sonar/
.vagrant/
out/

*.iml
*.ipr
*.iws
*.log

.appstash-setup-complete

rebel.xml

.DS_Store
bootstrap.zip
.Rhistory
.shell_history
node_modules
dist
.tmp
.sass-cache
bower_components

/.idea/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml