; Hubot systemd service unit file
; Place in e.g. `/etc/systemd/system/hubot.service`, then `systemctl daemon-reload` and `service hubot start`.

[Unit]
Description=Hubot
Requires=network.target
After=network.target

[Service]
ExecStart=/home/hubot/ninjabot/start.sh
Type=simple
WorkingDirectory=/home/hubot/ninjabot
User=hubot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
