<div class="col-md-12">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row" ng-controller="RecommendationController">
            <h2>Most ordered products in each category</h2>

            <div class="thumbnails" ng-repeat="product in vm.products track by product.id">
                <div shop-product-item product="product"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <shop-cart></shop-cart>
    </div>
</div>