<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:jetm="http://jetm.void.fm/schema/jetm_spring_config_1_2"
       xsi:schemaLocation="
        http://jetm.void.fm/schema/jetm_spring_config_1_2 http://jetm.void.fm/schema/jetm_spring_config_1_2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- jetm -->
    <jetm:monitoring>
        <jetm:bean-pattern>*RecommendationService</jetm:bean-pattern>
        <jetm:bean-pattern>*Repository</jetm:bean-pattern>
        <jetm:bean-pattern>*Reader</jetm:bean-pattern>
        <jetm:bean-pattern>*Provider</jetm:bean-pattern>
        <jetm:bean-pattern>dozerMapper</jetm:bean-pattern>
        <jetm:bean-pattern>dataGenerator</jetm:bean-pattern>
        <jetm:bean-pattern>appStashMemoryLogging</jetm:bean-pattern>
    </jetm:monitoring>

    <jetm:runtime>
        <jetm:features>
            <jetm:interval-buffer interval="1000"/>
        </jetm:features>
    </jetm:runtime>

</beans>